doctype html
html(lang="en", dir="ltr")
	head
		block title
		title= pageName
		meta(property="og:title", content=pageName)
		meta(property="og:description", content=pageDescription)
		meta(name="theme-color", content="#41403e")
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(
			rel="stylesheet",
			href="https://unpkg.com/papercss@1.8.3/dist/paper.min.css"
		)
		link(rel="stylesheet", href="/cdn/global.css")
		#colorScheme
	body
		include nav.pug
		.paper.row
			.lg-4.md-2.col
			.lg-4.md-6.col
				block content
			.lg-4.md-2.col
		include footer.pug
